<!--
<app-hai-page-header [title]="title"  (backClickEvent)="parentClickEvent()">
</app-hai-page-header>
<ng-template #title>
  <h1 style="color: red;">Day la title</h1>
</ng-template>
-->
<!--
<app-hai-switch [(ngModel)]="exIsCheck" [readonly]="isDisable">
</app-hai-switch>
<br>
from parent : {{exIsCheck}}

<button (click)="doDisable()" >
  Disable
</button>
-->
<table>
  <tr>
    <td>

    <app-tinh-cbb >
    </app-tinh-cbb>

    </td>
    <td>
      <button type="button" class="btn btn-primary">Disable</button>
      <br>
      <button type="button" class="btn btn-primary">Disable</button>
    </td>
  </tr>
</table>


