


<!--
<app-hai-page-header [title]="title"  (backClickEvent)="parentClickEvent()">
</app-hai-page-header>
<ng-template #title>
  <h1 style="color: red;">Day la title</h1>
</ng-template>
-->
<!--
<app-hai-switch [(ngModel)]="exIsCheck" [readonly]="isDisable">
</app-hai-switch>
<br>
from parent : {{exIsCheck}}

<button (click)="doDisable()" >
  Disable
</button>

<app-tinh-cbb [disabled]="disableCbb" (onChange)="onTouchParent()" >
</app-tinh-cbb>

-->

<!--

<app-mform>
</app-mform>
<app-testing>
</app-testing>
app-list-data>
</app-list-data>

-->

<app-tinh-data-controller>
</app-tinh-data-controller>
