<div class="container" >
  <form #heroForm="ngForm">
    <table class="table" >
        <tr class="form-group" >
            <td>
              <label for="name">Tỉnh :</label>
            </td>
            <td>
              <app-tinh-cbb type="select"  id="tinh" require
                [tinhs] ="curTinhs"
                [(ngModel)]="tmpTinh" name="tinh"
                #name="ngModel"
              >
              </app-tinh-cbb>
            </td>
        </tr>
        <div [hidden]="name.valid || name.pristine"
          class="alert alert-danger">
          Name is required
        </div>
        <tr>
            <td class="form-group">
              <label for="TTTTU">Tỉnh rực thuộc trung ương :</label>
            </td>
            <td>
              <app-hai-switch  id="TTTTU"
                [(ngModel)]="tmpTinh.TTTTU"
                name="TTTTU"
              >
              </app-hai-switch>
            </td>

        </tr>
        <tr>
            <td class="form-group">
              <label for="huyen">Huyện :</label>
            </td>
            <td>
              <app-huyen-cbb type="select"

                id="huyen"
                [huyens] = "curHuyens"
                [(ngModel)]="tmpHuyen"
                name="huyen"
              >
              </app-huyen-cbb>

            </td>

        </tr>
    </table>
  </form>

</div>
<br><br>
Tinh :{{tmpTinh | json}}
<br>
Huyen :{{tmpHuyen | json}}
