<br>
<br>
<div class = "container">
  <h3>Thêm tỉnh</h3>
  <table class="table">
    <tr>
      <td>
        Tên Tỉnh:
      </td>
      <td>
        <input type="text" [(ngModel)] = "addingTinh.name">
      </td>
    </tr>
    <tr>
      <td>
        Trực thuộc trung ương:
      </td>
      <td>
        <app-hai-switch
          [(ngModel)]="addingTinh.TTTTU"
        > </app-hai-switch>
      </td>
    </tr>
    <tr>
    <td>
      <button (click)="addTinh(addingTinh)" >Thêm Tỉnh</button>
    </td>
    <td>

    </td>
    </tr>
  </table>
</div>
<div class = "container">
  <h3>Thêm huyện: </h3>
  <table class="table">
    <tr>
      <td>
        Tên Huyện:
      </td>
      <td>
        <input type="text"
          [(ngModel)]="addingHuyen.name"
        >
      </td>
    </tr>
    <tr>
      <td>
        Tỉnh
      </td>
      <td>
        <app-tinh-cbb
          [tinhs] = "curTinhs"
          [(ngModel)] = "addingTinhHuyen"
          required
        >
        </app-tinh-cbb>
      </td>
    </tr>
    <tr>
    <td>
      <button
      (click)="addHuyen(addingHuyen,addingTinhHuyen)"
      >Thêm Huyện</button>
    </td>
    <td>

    </td>
    </tr>
    Adding Tinh: {{addingTinh.name}}
  </table>
</div>

<div class = "container">
  <h3>Xóa/Sửa:</h3>
  <table class="table">
    <tr>
      <td>
        Tỉnh
      </td>
      <td>
        <app-tinh-cbb
          [tinhs] = "curTinhs"
          [(ngModel)]="deuCurTinh"
          >
        </app-tinh-cbb>
      </td>
    </tr>
    <tr>
      <td>
        Huyện
      </td>
      <td>
        <app-huyen-cbb
          [huyens] = "curHuyens"
          [(ngModel)]="deuCurHuyen"
        >
        </app-huyen-cbb>
      </td>
    </tr>
    <tr>
      <td>
        <tr>
            <td>
              <label for="">Tên tỉnh</label>
            </td>
            <td>
              <input type="text" [(ngModel)] = "deuCurTinh.name" >
            </td>
        </tr>
        <tr>
          <td>
            <label for="">Tên tỉnh</label>
          </td>
          <td>
            <app-hai-switch [(ngModel)]="deuCurTinh.TTTTU" >
            </app-hai-switch>
          </td>
        </tr>

      </td>
      <td>

      <tr>
        <td>
          <label for="">Tên tỉnh</label>
        </td>
        <td>
          <app-tinh-cbb
            [tinhs] = "curTinhs"
            [(ngModel)]="deuCurTinh"
          >

          </app-tinh-cbb>
          {{deuCurTinh | json}}
        </td>
      </tr>
      <tr>
        <td>
          <label for="">Tên huyện</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="deuCurHuyen.name" >
        </td>
    </tr>
      </td>
    </tr>
    <tr>
      <td>
        <button
        (click)="deleteTinh(deuCurTinh)"
        >
          Xóa tỉnh
        </button>
        <button
          (click)="doShit()"
        >
        Sửa tỉnh</button>
        <button hidden>Lưu tỉnh</button>
        <button hidden>Hủy</button>
      </td>
      <td>
        <button
          (click)="deleteHuyen(deuCurHuyen)"
        >
          Xóa huyện
        </button>
        <button>Sửa tỉnh</button>
        <button hidden>Hủy</button>
      </td>
    </tr>
  </table>
</div>
